button {
    font-size: 20px;
    padding: 12px 25px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid pink;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: pink;
    transform: scale(1.08);
    box-shadow: 0 5px 12px #f3b6cc;
}

#result {
    font-size: 32px;
    margin-top: 30px;
    border: 2px solid pink;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px #f3b6cc;
    font-weight: bold;

    width: 220px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    color: deeppink;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

/* キラキラ演出 */
@keyframes sparkle {
    0% {
        transform: scale(1);
        box-shadow: 0 5px 15px #f3b6cc;
    }

    50% {
        transform: scale(1.08);
        box-shadow: 0 0 30px gold;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 5px 15px #f3b6cc;
    }
}

.sparkle {
    animation: sparkle 0.8s;
}

.fortune-details {
    border: 2px solid pink;
    border-radius: 25px;
    padding: 20px;
    margin: 30px auto 0 auto;

    width: 700px;
    min-width: 700px;
    max-width: 90vw;

    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 15px #f3b6cc;

    display: block;
    flex-shrink: 0;
}

.fortune-details p {
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
}

.fortune-details p:not(:last-child) {
    border-bottom: 2px dotted pink;
}

@media (max-width: 600px) {
    .fortune-details {
        width: 90vw;
        min-width: 0;
        max-width: 90vw;
        padding: 15px;
    }
}